body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #cfcfcf;
}

button {
  margin-top: 10px;
}

h1 {
  text-align: center;
}

hr {
  border-color: black;
}

img {
  width: 100%;
}

.form-group {
  margin-top: 10px;
};
